# -----------------------
# Python / virtual envs
# -----------------------
.venv/
.venv1/
__pycache__/

# -----------------------
# Jupyter
# -----------------------
.ipynb_checkpoints/

# -----------------------
# IDEs
# -----------------------
.idea/
.vscode/

# -----------------------
# OS files
# -----------------------
.DS_Store
Thumbs.db

# -----------------------
# Large / derived files
# -----------------------
*.parquet

